.peopleSearchHeader {
  text-align: center;
  margin: 0.3em 0.3em 0 0.3em;
  padding:0.3em;
}

.peopleToggleButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}

.peopleSearchExpandBar {
  background-color: #e16b05;
  text-align: right;
  color: white;
  font-weight: bold;
  max-height: 35px;
  padding: 0;
}

.peopleSearchExpandBar p {
  padding-right: 0.6em;
}

.peopleSearchBody {
  background: #e5e5e5;
  margin: 1vh;
  text-align: none;
}

.peopleSearchBar {
  margin: 1vh;
}

.peopleSearchBarForm {
  width: 100%;
  text-align: center;
}
.peopleSearchCard {
  width: 100%;
  max-width: 1800px;
}

.searchPeopleTrade {
  width: 40%;
  min-width: 300px;
  max-width: 480px;
}
.searchButtonPeople {
  width: 100px;
}

.peopleSearchCard {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.peopleSearchHead {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}


.peopleSearchHeadLeft {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}


/* RIGHT SIDE CARD */
.peopleSearchHeadRight h1, h2,
h4 {
  padding: 0;
  margin: 0;
}

.peopleSearchHeadRight {
  text-align: right;
  padding: 0;
  margin: 0;
}

.peopleSearchHeadRightJob,
.peopleSearchHeadRightLocation {
  font-size: 18px;
  font-weight: normal;
}


/* EXPANDED SECTION */
.peopleSearchExpandedBody {
  padding: 2.4vh;
  padding-top: 0em;
}
.peopleSearchExpandedBody p {
  font-size: 20px;
}

.peopleSearchIcon{
  width: 100px;
  height: 100px;
  margin: 0.4em;
}

#applyJobButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 0 auto 0 auto;
}
