.jobSearchBody {
  background: #e5e5e5;
  margin: 1vh;
  text-align: none;
  height: 100%;
}

.jobSearchBar {
  margin: 1vh;
}

.searchBarForm {
  width: 100%;
  text-align: center;
}
.jobSearchCard {
  width: 100%;
  max-width: 1800px;
}

/* Job search boxes */
.searchKeywordJobs {
  width: 40%;
  min-width: 300px;
  max-width: 0px;
}
.searchLocationJobs {
  width: 40%;
  min-width: 300px;
  max-width: 480px;
}
.searchButtonJobs {
  width: 100px;
}
/**/

.jobSearchExpandBar {
  background-color: #e16b05;
  text-align: right;
  color: white;
  font-weight: bold;
  max-height: 35px;
  padding: 0;
}

.jobSearchExpandBar p {
  padding-right: 0.6em;
}

.jobSearchCard {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
}

.jobIcon {
  width: 80px;
  height: 80px;
}

.jobSearchHead {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}
.jobSearchHeadLeft {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.jobSearchIcon {
  width: 100px;
  height: 100px;
}

.jobSearchHeadLeftMiddle h2,
h4 {
  padding: 0;
  margin: 0;
}

.jobSearchHeadRight {
  text-align: right;
  padding: 0;
  margin: 0;
}

.jobSearchHeadLeftJob,
.jobSearchHeadLeftLocation {
  
  font-weight: normal;
}

.jobSearchWage,
.jobSearchListed {

  font-weight: normal;
}



.jobSearchExpandedBody {
  padding: 2.4vh;
  padding-top: 0em;
}


.applyRow {
  display: flex;
  justify-content: center;
}

#applyJobButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
	background:linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
	background-color: #e16b05;
  border-radius:18px;
  font-weight: 700;
	border:1px solid #e16b05;
	color:#ffffff;
  padding:7px 25px;
  margin: 0 auto 0 auto;
}

.applyNowBtn{
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}
