/* HEADER AND SEARCH BAR  BODY*/
.peopleSearchHeader {
  text-align: center;
  margin: 0;
  padding: 0 0.3em;
  background-color: #e16b05;
  color: white;
}
.peopleSearchExpandBar p {
  margin-top: -2px;
}

.peopleSearchBarSection {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 4px solid #cecece;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.peopleToggleButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}

.peopleSearchTrade {
  display: flex;
  flex-direction: column;
}

.peopleSearchTrade input {
  margin: 0 auto 0 auto;
  max-width: 340px;
}
.searchPeopleBar {
  width: 100%;
  margin: 0 auto 0 auto;
  max-width: 340px;
}
.peopleSearchExpandBar {
  background-color: #e16b05;
  text-align: right;
  color: white;
  max-height: 35px;
  padding: 0;
}

.peopleSearchExpandBar p {
  padding-right: 0.6em;
  font-weight: bold;
}

.peopleSearchCard {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 750px;
}
.SearchSuggestions {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 850px;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.SearchSuggestions img {
  width: 80%;
  margin: 0 auto;
  display: block;
  max-width: 380px;
}

.SearchSuggestions h4 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  display: block;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  max-width: 380px;
  min-height: 40px;
}

.suggestionItems {
  width: 100%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: relative;
}

.peopleSearchIcon {
  width: 60px;
  height: 60px;
  margin: 0.4em;
  border-radius: 50%;
  object-fit: cover;
}

.peopleSearchHead {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.peopleSearchHeadLeft {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* RIGHT SIDE CARD */

.peopleSearchHeadRight {
  text-align: right;
  padding: 0;
  margin: 0;
}
.peopleSearchHeadRight h2,
.peopleSearchHeadRight h4 {
  padding: 0;
  margin: 0;
}

.peopleSearchHeadRightJob,
.peopleSearchHeadRightLocation,
.peopleSearchHeadRightWebiste {
  font-size: 18px;
  font-weight: normal;
}

.peopleSearchBody {
  background: #e5e5e5;
  margin: 1vh;
  text-align: none;
  height: 100%;
  padding-bottom: 6em;
  min-height: 90vh;
}

.peopleSearchExpandedBody {
  margin: 1em;
}
.peopleSearchExpandedBody p {
  margin: 0 0 1em 0;
}

.peopleSearchBar {
  margin: 1vh;
}

.peopleSearchBarForm {
  width: 100%;
  text-align: center;
}

.contactPersonBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}

#contactPersonButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 0 auto 0 auto;
}

.skillsListItems {
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  padding: 0.5em;
  margin-right: 0.4em;
  border-radius: 28px;
  border: 2px solid #cecece;
  box-shadow: 0 7px 14px rgba(146, 146, 146, 0.25),
    0 5px 5px rgba(162, 162, 162, 0.25);
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 450px) {
  .peopleSearchHead {
    display: flex;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 350px) {
  .peopleSearchIcon {
    width: 80px;
    height: 80px;
    margin: 0.4em;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 650px) {
  .peopleSearchIcon {
    width: 100px;
    height: 100px;
  }
  .peopleSearchInputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .peopleSearchTrade input,
  .peopleSearchLocation input {
    display: flex;
    justify-content: flex-end;
  }
  .peopleSearchTrade label,
  .peopleSearchLocation label {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .peopleSearchTop {
    display: flex;
    flex-direction: row;
  }

  .peopleSearchBottom {
    display: flex;
    justify-content: flex-end;
  }

  .peopleSearchTrade,
  .peopleSearchLocation {
    width: 80%;
    max-width: 340px;
  }

  .peopleSearchLocation {
    width: 80%;
    max-width: 340px;
    margin-right: 2em;
  }
  .peopleSearchTrade {
    width: 80%;
    max-width: 340px;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }
  .applyNowBtn {
    justify-content: flex-end;
  }
  .suggestionItems {
    width: 44%;
    display: flex;
    flex-wrap: wrap;
  }
}
