.profileCard {
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 850px;
}
.profileBody{
  background: #e5e5e5;
  margin: 1vh;
  text-align: none;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 6em;
  min-height: 90vh;
}
/* EXP CARD */
.expIconProfile {
  width: 80px;
}

.expDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.expLeft {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.expLeft p {
  margin: 0;
}
.expRight {
  width: 100%;
}

.dotOrange {
  margin: 0.5em 0 0 1em;
  height: 20px;
  width: 20px;
  background-color:#e16b05;
  border-radius: 50%;
  display: inline-block;
}

.dotRed {
  margin: 0.5em 0 0 1em;
  height: 20px;
  width: 20px;
  background-color: rgb(223, 42, 42);
  border-radius: 50%;
  display: inline-block;
}

.dot {
  margin: 0.5em 0 0 1em;
  height: 20px;
  width: 20px;
  background-color: rgb(42, 223, 129);
  border-radius: 50%;
  display: inline-block;
}
.skillsCard {
  padding: 1em 0 0 0;
}
.skillsCardList {
  padding: 0;
  margin: 0.5em;
}
.skillsCardList li {
  list-style-position: inside;
}

.bestWorkLeftImg {
  min-width: 250px;
  /* width:80%; */
  padding-top: 0.5em;
  max-width: 280px;
}

.bestWorkRight h5 {
  padding: 0;
  margin: 0.5em 0;
}

.bestWorkDiv {
  display: flex;
  flex-direction: column;
}

.bestWorkDivImageOnly {
  display: flex;

  flex-wrap: wrap;
  margin: 0 auto;
}
.bestWorkLeftImgOnly {
  /* width:80%; */
  padding: 0.8em;
  width: 40%;
}

/* CREATE PROFILE */
/* CREATE PROFILE ARRAY BUTTONS */ /* CREATE PROFILE ARRAY BUTTONS */ /* CREATE PROFILE ARRAY BUTTONS */

.createProfileCont {
  width: 90%;
  margin: 0 auto;
  max-width: 880px;
}
.createProfileCont h3 {
  padding: 0;
  margin: 0.2em  0.2em  0.2em 0;
  font-weight: 600;
  max-width: 300px;
}
.inputLengthLabels{
  text-align: right;
  margin: 0;
  padding: 0;
}

.createProfileUpper, .createProfileLower{
  margin: 1em;

}

.myProfileHeader, .createProfileHeader{
  text-align: center;
  margin: 0;
  padding: 0 0.3em;
  background-color: #e16b05;
  color: white;
}
.createProfileCont input , .pac-target-input , .createProfileCont select{
  width: 100%;
  margin: 0.5em 0;
  max-width: 360px;
  font-family: "Montserrat", sans-serif;
}

.licBtnPlus,
.licBtcMinus {
  width: 21px;
  height: 21px;
  border-radius: 20%;
  border: none;
  font-weight: 600;
  margin: 0.4vh;
}
.createProfileTextAreas {
  min-height: 200px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  margin: 0.5em 0;
}
.periodWorked {
  display: flex;
  align-items: center;
  width: 90%;
}
.periodWorkedMon {
  height: 21px;
}
.periodWorked input, .periodWorked select{
  max-width: 60px;
  height: 21px;
}
.licBtnPlus {
  background-color: #e16b05;
  color: white;
}

.licBtcMinus {
  background-color: #afb4b7;
  color: white;
}

.btnArrCont input {
  width: 80px;
}
.licCard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.expBtnMinus,
.expBtnPlus {
  width: 37px;
  height: 34px;
  border-radius: 20%;
  border: none;
  font-weight: 600;
  margin-top: -2em;
}

.expCardrow1 h5 {
  margin: 0.2em 0;
}
.periodWorkedBtn {
  display: flex;
  justify-content: space-between;
}

.periodWorkedArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

#bestWorkCardDesc {
  font-family: "Montserrat", sans-serif;
  margin: 0.6em 0 0 0;
  resize: none;
  min-height: 250px;
  width: 100%;
}
.licenseArr {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 250px;
}

.expBtnPlus {
  background-color: #e16b05;
  color: white;
}

.expBtnMinus {
  background-color: #afb4b7;
  color: white;
}

.arrSkills {
  width: 240px;
}
.educationArr {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 220px;
}

.referencesArr {
  min-height: 140px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  margin: 0.5em 0;
}
.referencesArr input {
  width: 90%;
}
.referencesArr button {
  margin: 0;
}
.referencesInput {
  min-height: 120px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  margin: 0;
}
.referencesInfo{
  height: 20px;
    display: flex;
    justify-content: space-between;

}
.bestWorkBtnSec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bestWorkSec {
  width: 90%;
}
/* .createProfileUpper {
  display: flex;
  flex-wrap: wrap;
} */
.bestWorkBtnSec input {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  margin: 0.5em 0;
}

.createProfileSubmit {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em auto;
  display: flex;
}

/* MY PROFILE */
/* MY PROFILE ARRAY BUTTONS */ /* MY PROFILE ARRAY BUTTONS */ /* MY PROFILE ARRAY BUTTONS */

.myProfileCont{
  width: 90%;
  margin: 0 auto 2em auto;
  min-width: 280px;
  max-width: 900px;
}

.editDeleteIcon{
  height: 20px;
  width: 20px;
  position: relative;
  margin: 0.2em;
  margin-top: 0.5em;
  cursor: pointer;
}
.profileImageUrl{
  width: 100%;
}
.expProfileBody{
margin: 0 1em;;
}
.bestWorkCont{
  margin: 0 1em;
}
.profileIcons{
  display: flex;
  background-color: #e16b05;
  justify-content: space-between;
  padding: 0 0.5em;
}
/* IMAGE CAROUSEL *//* IMAGE CAROUSEL *//* IMAGE CAROUSEL *//* IMAGE CAROUSEL *//* IMAGE CAROUSEL *//* IMAGE CAROUSEL *//* IMAGE CAROUSEL */


.arrows{
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: 0 auto

}



.arrowsCircleLeft , .arrowsCircleRight{
  width: 46px;
  height: 46px;
  background-color: rgb(134, 134, 134);
  border-radius: 60%;
  /* opacity: 50%; */

}

.carouselImage{
  width:100%;
  object-fit: contain;
  max-height: 350px;

  
}


@media only screen and (min-width: 350px) {
.editDeleteIcon{
  margin-top: 0.6em;
}
}
/* */
@media only screen and (min-width: 650px) {
  .editDeleteIcon{
    height: 28px;
    width: 28px;
    position: relative;
    margin: 0.5em;
    margin-top: 1em;
  }
  .expDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  .bestWorkDivImageOnly {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .expLeft {
    width: 10%;
    flex-direction: column;
    justify-content: center;
  }
  .expRight {
    width: 90%;
    margin: 1em 2em;
  }
  .bestWorkDiv {
    display: flex;
    flex-direction: row;
  }
  .bestWorkRight {
    padding-left: 1em;
  }
  .bestWorkLeft {
    display: flex;
    align-items: center;
  }
  .bestWorkLeftImgOnly {
    width: 28%;
    /* width:80%; */
    padding: 0.8em;
    min-width: 160px;
  }

  .createProfileUpper input, .createProfileUpper select {
    width: 90%;
    margin: 0.5em 0;
    max-width: 320px;
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    margin-right: 1em;
    
  }

  .createProfileUpper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
