html,
body,
#root {
  height: 100%;
  background-color: #dbd5d5;
}
h1 {
  font-size: 40px;
}

* {
  font-size: 26px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #e16b05;
  color: white;
  min-width: 800px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  background: #e16b05;
  list-style: none;
  color: white;
}

/* HOME PAGE */
.homePageContainer {
  position: relative;
  text-align: center;
  color: white;
}

.homePagePhoto {
  width: 100%;
}

.homeSearchText li {
  color: white;
  font-size: 40px;
  background: #525252;
  width: 380px;
  text-align: center;
  height: 50px;
  border-radius: 50px 0px 50px 0px;
}

.homeCenter {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeSearchText ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* contact form */
.contactFormCont {
  position: relative;
  text-align: center;
  background-color: white;
  margin: 1vh;
  min-height: 1000px;
  display: flex;
  justify-content: space-around;
}

.contactRow,
.contactRow1,
.contactRow3 {
  width: 2000px;
  display: flex;
  justify-content: center;
}

.contactRow input,
.contactRow1 input,
.contactRow1 select {
  margin: 0.6em;
  padding: 0;
  width: 400px;
}

.contactRow2 input {
  width: 660px;
  margin: 0.6em;
  padding: 0;
}

.enquiry textarea {
  font-family: "Helvetica", Arial, Lucida Grande, sans-serif;
  margin: 0.6em;
  width: 830px;
  resize: vertical;
  min-height: 300px;
  max-height: 600px;
}

.contactForm {
  margin-top: 3vh;
}

/* logged in avatar */
.Avatar {
  display: flex;
  justify-content: center;
  position: relative;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}

.Avatar li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* POST JOB */
.postJobFormCont {
  position: relative;
  text-align: center;
  background-color: white;
  margin: 1vh;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.postJobForm textarea {
  display: inline-block;
  width: 1100px;
  max-width: 1100px;
  min-width: 1100px;
  height: 400px;
  min-height: 400px;
  margin: 0.5em;
}
.postJobForm input {
  margin: 0.5em;
}

.row1 input {
  width: 535px;
}

.locationJobAd {
  width: 540px;
}
.salaryJobAd,
.salaryFreqJobAd {
  width: 250px;
}

.postJobForm button {
  display: inline-block;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 75px;
  min-height: 75px;
  margin: 1em;
}
/* LOGIN SECTION */
.loginCont , .signupCont{
  position: relative;
  text-align: center;
  background-color: white;
  margin: 1vh;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.loginCont input, .signupCont input {
  margin: 1vh;
}

.loginIcon {
  width: 200px;
  height: 200px;
  margin: 40px;
}

.helper-text {
  padding: 0;
  margin: 0;
  min-width: 1.2vh;
  min-height: 1.2vh;
  display: flex;
  justify-content: center;
}

.loginSection input, .signupSection input,
.passwordSection input {
  margin-bottom: 10px;
  height: 38px;
  border-width: 2px;
  border-style: none none solid none;
  outline-style: none;
  box-shadow: 0 10px 6px -6px rgb(135, 135, 135);
  width: 400px;
}

.css-0 div {
  background-color: #eaa060;
  width: 6px;
  height: 40px;
}

.submitLogin {
  position: relative;
  background-color: #e16b05;
  color: white;
  border: none;
  font-weight: 600;
  width: 130px;
  height: 46px;
  border-radius: 15%;
  box-shadow: 0 10px 6px -6px rgb(135, 135, 135);
  margin: 0;
  margin-top: 16px;
}

button[type="submit"] :disabled {
  background-color: #dddddd;
}

.spinner {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.loginErrorsGeneral {
  margin: 10px auto 0 auto;
  height: 40px;
  width: 600px;
}
.helper-text {
  color: #e16b05;
  font-weight: 650;
}

.signupCont{
  height: 100%
}