/* NAV AND OVERALL VALUES */ /* NAV AND OVERALL VALUES */ /* NAV AND OVERALL VALUES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 0.9em;
  line-height: 1.2em;
}
header {
  background-color: #e16b05;
}


.nav-links {
  list-style-type: none;
  margin: 0;
}

.logoNav {
  width: 80px;
  margin: 0 0 0 0.5em;
  border: none;
}
.hiddenInput {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 130px;
}
.hide-mobile {
  display: none;
}

#menu {
  font-size: 28px;
  margin: 55% 0.4em 0 0;
  color: white;
}
.navRight a {
  text-decoration: none;
}

nav ul {
  position: fixed;
  width: 55%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(54, 61, 65);
  z-index: 4;
  height: 100%;
  padding: 2.6em 0 0 0;
}
nav ul a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.3em 0.8em;
  background-color: rgb(49, 55, 59);
}

nav ul a:hover {
  background-color: rgb(65, 73, 78);
}

.exit-btn {
  margin-bottom: 0.6em;
  margin-top: -1.6em;
  text-align: right;
  padding: 0 1.2em;
  color: white;
  font-size: large;
  cursor: pointer;
}
/*           */

/* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */
.homePagePhoto {
  width: 100%;
}
.homePageSec {
  text-align: center;
}
.loginSignupHome {
  display: flex;
  padding: 0 3em 5em 3em;
  justify-content: space-around;
}
.homeToggleButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}
:disabled {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #f2d2b6 5%, #f5b578 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #f5dcc5;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}
.homePageIcon {
  width: 20%;
  padding: 0;
}
.homeSubhead {
  margin: 0.5em auto;
  width: 60%;
}
.searchTypeHome {
  margin: 0.4em;
}
.searchPeopleName {
  width: 80%;
  max-width: 400px;
  margin: 0 auto 0 auto;
}
.searchHomeLabels {
  display: flex;
  flex-direction: column;
}

/*              */

/* CONTACT FORM */ /* CONTACT FORM */ /* CONTACT FORM */ /* CONTACT FORM */ /* CONTACT FORM */
.contactFormCont {
  width: 80%;
  margin: 2em auto 2em auto;
  text-align: center;
  max-width: 500px;
}
.contactFormCont input {
  width: 80%;
  margin: 0.5em;
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
}

.contactForm h3 {
  padding: 0;
  margin: 0.2em auto 0.2em auto;
  font-weight: 600;
  text-align: center;
  max-width: 408px;
}
.contactFormCont select {
  width: 82%;
  margin: 0.5em;
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
}

.contactFormCont textarea {
  min-height: 200px;
}
.contactFormCont p {
  font-size: 0.8em;
  max-width: 500px;
  text-align: center;
  margin: 0.4em auto 1em auto;
}

.enquiry {
  width: 80%;
  min-width: 80%;
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
  resize: vertical;
}
/*         */

/* logged in avatar */
.Avatar {
  display: flex;
  justify-content: center;
  position: relative;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}

.Avatar li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*          */

/* POST JOB */ /* POST JOB */ /* POST JOB */ /* POST JOB */ /* POST JOB */ /* POST JOB */ /* POST JOB */

.postJobHeader{
  text-align: center;
    margin: 0 0 0.5em 0;
    padding: 0 0.3em;
    background-color: #e16b05;
    color: white;

}
.postJobBody{
  background: #e5e5e5;
  margin: 1vh;
  text-align: none;
  height: 100%;
  padding-top: 0.5em;
  
  
}
.postJobCard{
  background-color: white;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
  width: 96%;
  border: 2px solid #cecece;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 840px;
  

}
 .postJobFormCont {
  width: 80%;
  margin: 0 auto 0 auto;
  max-width: 700px;
}

.postJobFormCont h1 {
  text-align: center;
}


.postJobFormCont h3 {
  padding: 0;
  margin: 0.2em 0.2em 0.2em 0em;
  font-weight: 600;
  max-width: 320px;
}

.postJobForm input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 300px;
  max-width:340px;
  margin: 0.5em 0.5em 0.5em 0;
}

.postJobForm textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 300px;
  margin: 0.5em 0 0.5em 0;
}

.aboutBusiness,
.role,
.skillsExp {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  resize: vertical;
  min-height: 240px;
}

.contactDetails,
.applyNow {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  resize: vertical;
  min-height: 120px;
}

.jobSubmitButton {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em 1em 4em 1em;
}
.jobSubmitButtonDiv {
  display: flex;
  justify-content: center;
} 
/*        */

/* LOGIN SECTION */ /* LOGIN SECTION */ /* LOGIN SECTION */ /* LOGIN SECTION */ /* LOGIN SECTION */
.loginSignupLabel {
  margin: 0 0 0 1vh;
  text-align: left;
}
.logoLoginSignup {
  border-radius: 10px;
  width: 80%;
  margin: 2em auto 0em auto;
  max-width: 360px;
}

.loginCont,
.signupCont {
  position: relative;
  text-align: center;
  max-width: 340px;
  width: 80%;
  margin: 0 auto 0 auto;
}

.loginCont input,
.signupCont input {
  margin: 1vh;
}

.loginIcon {
  width: 200px;
  height: 200px;
  margin: 40px;
}

.helper-text {
  padding: 0;
  margin: 0;
  min-width: 1.2vh;
  min-height: 1.2vh;
  display: flex;
  justify-content: center;
}

.loginSection input,
.signupSection input,
.passwordSection input {
  margin-bottom: 10px;
  height: 36px;
  border-width: 2px;
  border-style: none none solid none;
  outline-style: none;
  box-shadow: 0 10px 6px -6px rgb(135, 135, 135);
  width: 100%;
  max-width: 340px;
}

.css-0 div {
  background-color: #eaa060;
  width: 6px;
  height: 40px;
}

.submitLogin,
.submitSignup {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #e16b05 5%, #e16b05 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #e16b05;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}
:disabled {
  box-shadow: 3px 4px 0px 0px #f3a764;
  background: linear-gradient(to bottom, #f2d2b6 5%, #f5b578 100%);
  background-color: #e16b05;
  border-radius: 18px;
  font-weight: 700;
  border: 1px solid #f5dcc5;
  color: #ffffff;
  padding: 7px 25px;
  margin: 1em;
}

.spinner {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.loginErrorsGeneral {
  margin: 1em auto 0 auto;
  height: 40px;
}
.helper-text {
  color: #e16b05;
  font-weight: 650;
}

.signupCont {
  height: 100%;
}

/*       */


/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES 650 PX */
@media only screen and (min-width: 650px) {
  /* HOME PAGE */
  h1 {
    font-size: 3em;
    margin: 0.6em;
  }
  .homeSubhead {
    font-size: 1.2em;
    max-width: 460px;
  }
  .homeToggleButton {
    max-width: 180px;
    width: 30%;
    font-size: 0.9em;
  }
  .searchTypeHome {
    font-size: 1.8em;
  }
  .searchHomeLabels {
    font-size: 1.2em;
  }
  .searchPeopleName {
    width: 60%;

    padding: 0;
    font-size: 22px;
  }
  /* LOGIN*/
  .loginSignupHome a {
    font-size: 1.4em;
    max-width: 460px;
  }
  .loginSignupHome {
    max-width: 460px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (min-width: 800px) {
  /* HOME PAGE */
  h1 {
    font-size: 3.2em;
    margin: 0.3em;
  }
  .homeSubhead {
    font-size: 1.2em;
  }

  .searchTypeHome {
    font-size: 1.8em;
  }
  .searchHomeLabels {
    font-size: 1.2em;
  }

  .homePageIcon {
    max-width: 160px;
  }
}

@media screen and (min-width: 1024px) {
  /* HOME PAGE */
  nav {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 1% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    padding-top: 0;
    display: flex;
  }

  nav ul a {
    color: white;
    background-color: inherit;
    width: auto;
  }
  nav ul li {
    float: left;
  }
  nav ul a li {
    text-align: right;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
  }

  nav ul a:hover {
    background-color: inherit;
  }
  .signedIn_OutLinks {
    display: flex;
  }
  /* POST JOB */

 
  .upperPostJobForm input {
    max-width: 300px;
  }
  .upperPostJobForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


