.profileCard{
    background: white;
    margin :1vh;
    text-align:none;
}


.head-profile-card-row1{
    display:flex;
    justify-content: space-between;
    padding: 2vh 4vh 2vh 4vh;
}

.expIconProfile{
    width :80px;
    height: 60px;
    

}


.iconProfile{
    width : 16vh;
    height: 16vh;
    border-radius: 50%;
}


.head-profile-card-row2{
    padding: 2vh 4vh 2vh 4vh;
}

.exp-profile-card-row{
    padding: 2vh 4vh 2vh 4vh;
}


.expCard{
    display: flex;
    padding-top:0;
}

.expIconLeft p{
    font-size: 15px;
    


}

.expIconRight p{
   margin-top: 0;
   margin-left: 4vh;
}



.bestWorkLeftImg{
    width:500px;
    height:340px;
    padding: 0vh 0vh 2vh 0vh;
}

.skills-profile-card-row{
    padding: 2vh 4vh 2vh 4vh;
}
.bestWork-profile-card-row{
    padding: 2vh 4vh 2vh 4vh;
    

}

.bestWorkCont{
    display: flex;
    justify-content: space-between;
}


.bestWorkRight {
    padding: 0vh 4vh 2vh 4vh;
    margin :0;
}

.bestWorkRight h3, p{
    margin-top :0;
}

.dot {
    margin: 0.5em 0 0 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(42, 223, 129);
    border-radius: 50%;
    display: inline-block;
  }